<article class="tpl__view tpl__view--events has-padding is-box">
  <div class="tpl__view__inner">

    <header class="tpl__view__header text-center">
      <h1>My Events</h1>
    </header>

    <section class="tpl__view__content">
      <ul class="events__list">
        <li>
          <div class="events__item" role="button" tabindex="0">
            <p class="events__item__author font--small">User Userberg</p>
            <h4 class="events__item__title">Nicole’s 30th Birthday Bash</h4>
            <p class="events__item__date font--small">08/25/22</p>
          </div>
        </li>
        <li>
          <div class="events__item" role="button" tabindex="0">
            <p class="events__item__author font--small">User Userberg</p>
            <h4 class="events__item__title">Erin’s Bon Voyage</h4>
            <p class="events__item__date font--small">09/25/22</p>
          </div>
        </li>
        <li>
          <div class="events__item" role="button" tabindex="0">
            <p class="events__item__author font--small">User Userberg</p>
            <h4 class="events__item__title">Kelly’s Launch Party</h4>
            <p class="events__item__date font--small">10/25/22</p>
          </div>
        </li>
      </ul>
    </section>

  </div>
</article>