$path-img: '../img';
$path-fonts: '../fonts';

$screen-mobile: 640px;

:root {
    // ******* COMMON *******

    --transition-duration: 250ms;
    --transition-duration-fast: 150ms;

    --indent-triple: 3em;
    --indent-double: 2rem;
    --indent-large: 1.5rem;
    --indent: 1rem;
    --indent-small: 0.8rem;
    --indent-half: 0.5rem;
    --indent-thin: 0.25rem;

    --background-opacity: 0.35;
    --border-size: 1px;
    --border-radius: 2px;

    --shadow--outline: 0 0 0 3px var(--color-primary--light);

    // ******* COLORS *******

    --color-primary1-value: 0, 58, 93;
    --color-primary1: rgb(var(--color-primary1-value));

    --color-primary2-value: 194, 213, 237;
    --color-primary2: rgb(var(--color-primary2-value));
    --color-primary2-hover: rgba(var(--color-primary1-value), 0.9);

    --color-primary3-value: 10, 34, 64;
    --color-primary3: rgb(var(--color-primary3-value));

    --color-secondary1-value: 249, 179, 171;
    --color-secondary1: rgb(var(--color-secondary1-value));

    --color-secondary2-value: 243, 207, 198;
    --color-secondary2: rgb(var(--color-secondary2-value));
    --color-secondary2-hover: rgba(var(--color-secondary2-value), 0.7);

    --color-third1-value: 179, 189, 53;
    --color-third1: rgb(var(--color-third1-value));

    --color-third2-value: 227, 226, 141;
    --color-third2: rgb(var(--color-third2-value));


    --color-primary: var(--color-primary1);
    --color-primary-hover: var(--color-primary2-hover);
    --color-primary--light: var(--color-primary2);
    --color-secondary: var(--color-secondary1);
    --color-secondary--light: var(--color-secondary2);
    --color-secondary--light-hover: var(--color-secondary2-hover);
    --color-third: var(--color-third1);
    --color-third--light: var(--color-third2);

    --color-opposite: rgb(255, 255, 255);
    --color-placeholder: rgb(132, 155, 172);

    --color-danger-value: 212, 53, 53;
    --color-danger: rgb(var(--color-danger-value));
    --color-danger-bacgkround: rgba(var(--color-danger-value), 0.05);

    --color-warning-value: 224, 157, 40;
    --color-warning: rgb(var(--color-warning-value));
    --color-warning-bacgkround: rgba(var(--color-warning-value), 0.05);

    --color-success-value: 37, 176, 37;
    --color-success: rgb(var(--color-success-value));
    --color-success-bacgkround: rgba(var(--color-success-value), 0.05);

    --color-background-value: 255, 255, 255;
    --color-background: rgb(var(--color-background-value));
    --color-background-overlay: rgba(var(--color-background-value), 0.7);
    --color-background--primary-light: rgba(var(--color-primary2-value), var(--background-opacity));
    --color-background--secondary-light: rgba(var(--color-secondary2-value), var(--background-opacity));

    // *** FONT ***

    --bold--weight: 600;

    --font-size: 1rem;
    --font-height: 1.5;
    --font-height-unit: 1.5rem;
    --font-weight: 400;

    --font--large-size: 1.125rem;
    --font--large-height: 1.5;
    --font--large-height-unit: 1.5rem;

    --font--small-size: 0.75rem;
    --font--small-height: 1.5;
    --font--small-height-unit: 1.5rem;

    --hint-size: 1rem;
    --hint-height: 1.5;
    --hint-height-unit: 1.5rem;
    --hint-weight: 400;

    --error-size: 1rem;
    --error-height: 1.5;
    --error-weight: 500;

    --h1-size: 1.5rem;
    --h1-height: 1.5;
    --h1-weight: 500;
    --h2-size: 1.25rem;
    --h2-height: 1.5;
    --h2-weight: 500;
    --h4-size: 1.25rem;
    --h4-height: 1.5;
    --h4-weight: 500;
    --a-weight: 500;
    --a-color: var(--color-primary);
    --a-color-hover: rgb(0, 123, 255);
    --a-color-alternative: var(--a-color-hover);

    // ******* FIELD *******

    --field-height: 4.5rem;
    --field-height-max: 20rem;
    --field-padding: var(--indent-half);
    --field-indent: var(--indent);
    --field--group-padding: var(--field-indent);

    // *** INPUTS ***

    --input-padding: var(--indent-small);
    --input-border-size: 0px;
    --textarea-height: 10rem;
    --select-height: 10rem;
    --select-padding: var(--indent-thin);
    --check-indent: var(--indent-half);

    // *** BUTTONS ***

    --button-width: 8rem;
    --button-height: 3.75rem;
    --button-padding: var(--indent);
    --button-indent: var(--indent-half);
    --button-border-size: 0px;
    --button-weight: 900;
    --button-color: var(--color-opposite);
    --button-spacing: 0.1em;

    // ******* TEMPLATE *******

    --template-width: 960px;
    --template-width-half: 468px;
    --template-indent: var(--indent);
    --header-height: 84px;
    --header-background: var(--color-primary1);
    --content-background: var(--color-opposite);
}
