<div class="display-none">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="inline-svg"><symbol viewBox="0 0 15 25" id="chevron-right" xmlns="http://www.w3.org/2000/svg"><path d="M14.849 12.707L3.535 24.2.707 21.192l8.485-8.485L.171 3.686 3 .857l10.39 10.039 1.459 1.811z"></path></symbol></svg>
</div>

<div class="tpl__container">

  <header class="tpl__header">
    <div class="tpl__logo" aria-label="CelebrateMe"></div>
  </header>
  <main class="tpl__content">
    <ion-app>
      <ion-router-outlet></ion-router-outlet>
    </ion-app>
  </main>
</div>
