<article class="tpl__view tpl__view--onboarding">
  <div class="tpl__view__inner">

    <section class="tpl__view__content has-indent-none">
      <div class="onboarding__slider">
        <ul>
          <li class="is-active">
            <article class="onboarding__item">
              <section class="onboarding__item__image tpl__section is-box background--primary-light"></section>
              <section class="onboarding__item__content tpl__section is-box text-center">
                <h1>Welcome!</h1>
                <p>App is designed to easily add products from stores to your CelebrateMe events.</p>
              </section>
            </article>
          </li>
          <li>
            <article class="onboarding__item">
              <section class="onboarding__item__image tpl__section is-box background--secondary-light"></section>
              <section class="onboarding__item__content tpl__section is-box text-center">
                <h1>Welcome!</h1>
                <p>App is designed to easily add products from stores to your CelebrateMe events.</p>
              </section>
            </article>
          </li>
          <li>
            <article class="onboarding__item">
              <section class="onboarding__item__image tpl__section is-box background--secondary"></section>
              <section class="onboarding__item__content tpl__section is-box text-center">
                <h1>Welcome!</h1>
                <p>App is designed to easily add products from stores to your CelebrateMe events.</p>
              </section>
            </article>
          </li>
          <li>
            <article class="onboarding__item">
              <section class="onboarding__item__image tpl__section is-box background--third-light"></section>
              <section class="onboarding__item__content tpl__section is-box text-center">
                <h1>Welcome!</h1>
                <p>App is designed to easily add products from stores to your CelebrateMe events.</p>
              </section>
            </article>
          </li>
          <li>
            <article class="onboarding__item">
              <section class="onboarding__item__image tpl__section is-box background--third"></section>
              <section class="onboarding__item__content tpl__section is-box text-center">
                <h1>Welcome!</h1>
                <p>App is designed to easily add products from stores to your CelebrateMe events.</p>
              </section>
            </article>
          </li>
        </ul>
      </div>
    </section>

    <footer class="tpl__view__footer tpl__section is-box has-padding">
      <div class="onboarding__nav">
        <ul>
          <li class="is-active">
            <a role="button" tabindex="0" aria-label="Welcome"></a>
          </li>
          <li>
            <a role="button" tabindex="0" aria-label="Welcome"></a>
          </li>
          <li>
            <a role="button" tabindex="0" aria-label="Welcome"></a>
          </li>
          <li>
            <a role="button" tabindex="0" aria-label="Welcome"></a>
          </li>
          <li>
            <a role="button" tabindex="0" aria-label="Welcome"></a>
          </li>
        </ul>
      </div>
      <div class="buttons buttons--onboarding">
        <button class="button button--primary">Next</button>
      </div>
    </footer>

  </div>
</article>
